
@font-face {
    font-family: 'Nirmala UI';
    src: url('https://raw.githubusercontent.com/tsuon1/tsuonvieri-mittcv/main/NirmalaUI Regular.ttf?raw=true') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Nirmala UI';
     src: url('https://raw.githubusercontent.com/tsuon1/tsuonvieri-mittcv/main/Nirmala UI Bold.ttf?raw=true') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Nirmala UI';
    src: url('https://raw.githubusercontent.com/tsuon1/tsuonvieri-mittcv/main/Nirmala UI Semilight.ttf?raw=true') format('truetype');
    font-weight: 300; /* 300 brukar användas för att ange "light" eller "semilight" vikter */
    font-style: normal;
  }
  

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nirmala UI', sans-serif; 
}



body 
{
    background: #164448;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh; 
    max-width: 100vw;
    overflow-x: hidden;
}

.videobakgrund {
    position: fixed; 
    top: 0; 
    left: 0;
    width: auto; 
    z-index: -1; /* Se till att videon ligger bakom innehållet */
}

#minVideo {
    width: 100%; /* Täcker hela bredden */
    height: 100%; /* Täcker hela höjden */
    object-fit: cover; /* Se till att videon täcker hela området utan att förvrängas */
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(54, 53, 37, 0.7); /* Justera genomskinligheten efter behov */
    z-index: 1; /* Se till att överläggningen är ovanför videon men under innehållet */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        background-color: white;
    }
    100% {
        opacity: 1;
        transform: scale(1);
        background-color: transparent;
    }
}

.videobakgrund.active {
    animation: fadeIn 2s ease-out forwards;
}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #37B799; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

.container {
    position: relative;
    display: none;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);

}

.container .left_Side {
    position: relative;
    background: linear-gradient(180deg, #164448, #164448 24.61%, #38bb9c);
    padding: 40px;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    top: 10px;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
}

.profileText .imgBx {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imgBx img {
    position: absolute;
    top: -20px;
    left: 0;
    width: 118%;
    height: 118%;
    object-fit: cover;
    object-position: center;    
}

.profileText h2 {
    color: #fff;
    font-size: 1.9em;
    margin-top: 12px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
    margin-bottom: 1px;
    line-height: 1.1em; /* Adjusted line-height for tighter spacing */
}
.profileText h2 span 
{
font-size: 0.445em;   
font-weight: 500;
display: block; /* Ensures the span behaves like a block element */
margin-top: 1px; /* Negative margin to pull the span closer to the h2 */
}


/* Style for the dots container */
.dots {
    display: flex;
    justify-content: center; /* Center the dots horizontally */
    margin-top: 13px; /* Add space above the dots */
    margin-right: ;
}

/* Style for each dot */
.dot {
    height: 13.19px; /* Size of the dots */
    width: 13.19px; /* Size of the dots */
    background-color: #bbb; /* Color of the dots */
    border-radius: 50%; /* Make the dots circular */
    display: inline-block;
    margin: -8px 2.5px; /* Spacing between the dots */
}

.skills1 .box1 .percent1 .dots .dot.transparent {
    /* This rule will apply after the JavaScript animation completes, 
       setting the opacity to 0.55 for the dots with the transparent class */
    opacity: 0.55;
}

.profileText .dots .dot {
    /* Size and other styles for the dot */
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: scale(0); /* Start scaled down */
    opacity: 0; /* Start transparent */
}

/* Assuming you want to keep the specific color classes (red, yellow, green, blue, orange) */
.profileText .dots .dot.red { background-color: #F68A46; }
.profileText .dots .dot.yellow { background-color: #F5EF79; }
/* Define other color classes similarly */



/* You can add classes for different colors if you like */
.dot.red { background-color: #F68A46; }
.dot.yellow { background-color: #F5EF79; }
.dot.green { background-color: #AAD273; }
.dot.blue { background-color: #69B473; }
.dot.orange { background-color: #369171; }

.contactInfo
{ 
    padding-top: 40px;
    margin-top: 5px;
}

.contactInfo ul li a.text {
    color: #FFFFFF; /* Exempel på färg för hyperlänkar */
    text-decoration: none; /* Tar bort understrykning */
}

.contactInfo ul li a.text:hover {
    text-decoration: underline; /* Lägger till understrykning vid hovring */
}


.title {
    color: #fff;
    text-transform: none;
    font-weight: 600;
    letter-spacing: px;
    margin-bottom: 20px;
    font-size: 1.1em;
}

.contactInfo {
    padding: 20px;
    margin-bottom: -60px;
}

.contactInfo .title {
    margin-bottom: 10px;
}
.contactInfo ul {
    position: relative;
}

.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
}

.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #FFFFFF;
    display: none;
}


.contactInfo ul li span {
    color: #fff;
    font-weight: 300;
}

.contactInfo ul li span.texttitle {
    color: #FFFFFF;
    font-weight: bold;
}

.container .right_Side {
    position: relative;
    background: #fff;
    padding: 40px;
}
 
.about 
{ 
margin-bottom: 50px;    
}


.about: :last-child
{ 
 margin-bottom: 0;
}

.title2 {
    color: #617D7E;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p {
    color: #333;
}

.about .box { 
    display: flex;
    align-items: center; /* Centrerar innehållet vertikalt */
    margin: 20px 0;
}

.about .box .year_company { 
    min-width: 150px;
    
}

.about .box .text {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Ser till att .text tar upp resterande utrymme */
}

.about .box .text .play-button {
    flex-shrink: 0; /* Förhindrar att knappen krymper */
    width: 24px; /* Bredden på din playknappsbild */
    height: 24px; /* Höjden på din playknappsbild */
    margin-right: 15px; /* Justerar utrymmet mellan knappen och texten */
    cursor: pointer; /* Ger en indikation om att knappen är klickbar */
}

.about .box .text .play-button img {
    width: 100%; /* Sätter bildens bredd till kontainerns bredd */
    height: auto; /* Bibehåller bildens proportioner */
    margin-top: -34px;
}

.popup-video {
    position: fixed; /* Positionerar popup över andra element */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Centrerar innehållet horisontellt */
    align-items: center; /* Centrerar innehållet vertikalt */
    background-color: rgba(0, 0, 0, 0.5); /* Lägger till en mörk bakgrund med lite genomskinlighet */
    z-index: 1000; /* Ser till att popupen ligger över andra element */
}

.popup-inner {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Lägger till en skugga runt videoramen */
    border-radius: 10px; /* Ger videoramen rundade hörn */
    overflow: hidden; /* Ser till att inget innehåll spiller ut ur den rundade ramen */
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}


.about .box .text > div {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 15px;
}

.about .box .year_company, .about .box .text .play-button {
    flex-shrink: 0; /* Förhindrar att dessa element krymper eller flyttas när innehållet expanderas */
}


.about .box .text h4 {
    text-transform: uppercase;
    color: #2a7da3;
    font-size: 16px;
    margin: 0 0 10px 0; /* Justerar marginaler för att linjera med playknappen */
}

.about .box .text p {
    color: #333;
    margin-right: 35px;
}

/* Glöm inte att lägga till stilar för popup-fönstret och dess innehåll */

  /* about split */

.about .box { 
    display: flex;
    flex-direction: row; /* Keep it as row to maintain a side-by-side layout */
    margin: 20px 0;
}

.about .box .profile-item { 
    width: 50%; /* Assigns 50% of the .box width to each .profile-item */
    padding: 0 15px 20px 0; /* Optional padding for spacing */
    margin-right: 15px;
    margin-bottom: -30px;
    margin-top: 2px;
}
.about .box .profile-item p { 
 font-size: 13px;
}

.about .box .profile-item .title2 { 
    margin-bottom: 12px; /* Adds space below the title */
}

/* You can remove or adjust the .year_company, .text, and other unrelated styles */

.year_company .date {
    white-space: pre-line; /* Respekterar radbrytning i texten */
}

/* Eller om du föredrar att inte lägga till en <br>-tagg i din HTML kan du använda ::after-pseudoelement för att skapa en radbrytning. */

.year_company .date::after {
    content: "\A"; /* Specialtecken för ny rad */
    white-space: pre; /* Förhindrar att webbläsare kollapsar sekvensen av vita utrymmen */
}

.about .box .year_company
{ 
 min-width: 150px;
 margin-bottom: 51px;
 padding-right: 30px;

}

.about .box .year_company h5
{ 
 text-transform: uppercase;
 color:#848c90;
 font-weight: 600;
}

.company1 {
    text-transform: uppercase;
    color: #848c90; /* Ändrad till en giltig hexadecimal färgkod */
    margin-top: -5px;
    margin-bottom: 5px;
}


.about .box .text h4
{ 
text-transform: uppercase;
color: #2a7da3;
font-size: 16px;
}



/* ...Din befintliga CSS... */


.box2 
{ 
    margin: 40px 0 40px 0;
}
.box2 h4, h5
{ 
    color:#617D7E;
}

.year-company-play {
    position: relative; /* Ger en positionskontext för absolut positionerade barn */
}

.year_company, .play-button {
    position: absolute; /* Absolut position förhindrar element från att flytta */
    top: 0; /* Placeras längst upp i den relativa positionskontexten */
}

.year_company {
    left: 0; /* Placeras till vänster i kontainern */
}

.play-button {
    left: 160px; /* Justera detta värde så att det passar layouten */
    cursor: pointer;
}

.play-button img {
    left: 100px; /* Justera detta värde så att det passar layouten */
    width: 24px;
    height: 24px;
}

.title-description {
    margin-left: 200px; /* Ge utrymme för datum och spelknapp */
    padding-top: px; /* Ge lite utrymme överst för att inte överlappa datum */
    margin-top: -10px;
}

.title-description h4 {
 margin-bottom: 5px;
} 

/* Justera placeringen av titel, företagsinformation och expanderbar lista */
.title-description > * {
    margin: 0;
}

.title-description p 
{ 
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.expand-btn {
    /* ...Din befintliga CSS för expand-btn... */
    display: block; /* Se till att knappen tar upp en egen rad */
}

.expandable-content h4 {
    color: ;
}

/* Resten av din CSS... */

/* MEDIA QUERIES */
@media (max-width: 1000px) {
    /* Justera layouten för mindre skärmar */
}

/* ... */


.title4
{ 
    color: white;
    font-size: 16px;
}

/* .expand-btn {
    color: #000000;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
    text-align: left;
    background: ;
} */

.expand-btn {
    background-color: transparent;
    color: #617D7E;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-align: left;
    font-style: ;
    margin-top: 12px;
    font-weight: 550;
}



strong 
{ 
    font-style: ;
    color: #617D7E
}

.arrow-icon {
    transition: transform 0.3s ease; /* Smidig övergång för rotation */
    width: 18px;
    height: 18px;
    margin: 0 0 -5px 5px;

}


.category.special-dashes ul li::before {
    content: ''; /* Tar bort bindestrecket helt */
} 

/* Stil för att rotera pilen vid expanderad innehåll */
.expand-btn.expanded .arrow-icon {
    transform: rotate(180deg); /* Roterar bilden 180 grader */
}

.expandable-content {
    display: none;
    padding: 10px;
    font-size: 14px;
}

.expandable-content ul li::marker {
    color: #1F645E; /* Ändrar färgen på listpunkterna */
}

.expandable-content li {
    padding: 5px 0; /* Ger lite utrymme mellan listelementen */
    list-style: none;
}

.expandable-content ul {
    list-style: none; /* Tar bort standard liststil */
    padding-left: 0; /* Tar bort indrag för hela listan */
}

.category h4::before {
    
    margin-right: 5px; /* Ger lite utrymme mellan pricken och rubriken */
}

.category ul {
    padding-left: 20px; /* Ger ett indrag för underkategorier */
}

.category ul li::before {
    content: '-'; /* Lägger till ett bindestreck före underkategorier */
    margin-right: 10px; /* Ger lite utrymme mellan bindestrecket och underkategorin */
    color: black; /* Du kan ändra färgen på bindestreck för att matcha din design */
}

.category.special-dashes > h4 {
    margin-bottom: -10px; /* Eller vilket värde som passar för att minska utrymmet under rubriken */
}

.category.special-dashes
{ 
    margin-bottom: 10px;
}


.title-description .category.meriter ul {
    padding-left: 0; /* Tar bort vänster padding */
}

.title-description .category.meriter ul li {
    margin-left: 0; /* Tar bort vänster marginal */
    padding-left: 40px; /* Lägger till padding för att linjera med andra listelement */
    text-indent: -20px; /* Används för att linjera bullet point eller siffermarkör med ovanstående innehåll */
}


/* ...tidigare CSS... */

  

  .category.meriter ul li {
    text-indent: -16px; /* Indrar den första raden negativt */
    padding-left: 17px; /* Flyttar resten av texten tillbaka till ursprunglig position */
  }

  
  


.skills1
 { 
    margin: 50px 0 -50px 0;
    padding: 20px;
 }

 .skills1 .box1:last-child {
    margin-bottom: -1px; /* Adjust this value to your preference */
}


 .skills2 

 {  
    margin-bottom: 70px;
 }

.skills1 .title3 
{ 
     margin-bottom: 20px;
     color: white;
}  


.skills1 .box1 {
    display: flex; /* Using flex instead of grid for better alignment control */
    align-items: center; /* Vertically center the text and dots */
    padding: 7px 0; /* Provide some vertical padding */
    margin-bottom: -10px;
}

.skills1 .box1 h4 {
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
    margin-right:px; /* Space between text and dots */
    white-space: nowrap; /* Prevent text from wrapping */
    flex-shrink: 0; /* Prevent the text from shrinking */
}

.skills1 .box1 .percent1 {
    flex-grow: 1; /* Allow the dot container to fill the space */
    display: flex; /* Use flexbox for easier alignment */
    align-items: center; /* Center the dots vertically */
    justify-content: flex-end; /* Align dots to the right */
    margin-left: auto; /* Push the dots container to the right */
    position: relative;
    top: -3px;
    left: 30px;

}

.skills1 .box1 .percent1 .dots .dot {
    height: 13.2px;
    width: 13.2px;
    background-color: #FFFFFF;
    border-radius: 50%;
    transform: scale(0); /* Initial state for the animation */
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0; /* Initial state for the animation */
}

/* Additional style for transparent dots */
.skills1 .box1 .percent1 .dots .dot.transparent {
    opacity: 0.55; /* Set lower opacity */
}

/* Ensure the last dot does not have a right margin */
.skills1 .box1 .percent1 .dots .dot:last-child {
    margin-right: 0;
}


.skills1 .box1:last-child {
    margin-bottom: -15px; /* Adjust this value to your preference */
}

.interest
{ 
    margin-top: 40px;
    margin-bottom: 10px;
}
.interest ul

{ 
    position: relative;
    display: grid;
    grid-template-columns: repeat(4,1fr)

}


.interest ul li  
{ 
list-style: none;
color: #333;
font-weight: 500;
margin: 20px 0 20px;
}

.interest ul li .fa
{
    color: #F68A48; 
    font-size: 28px;
    width: 40px;
    margin: 25px 10px 0 50px;
}

/* INTEREST1 */

.interest1 {
    margin-top: 10px;
    margin-bottom: 20px;
}
.interest1 ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.interest1 ul li {
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Centers the text labels under the icons */
    font-weight: 500;
    color: #394f50;
}
.interest1 ul li .lottie {
    width: 65px; /* Adjust based on the size of your animations */
    height: 65px; /* Adjust based on the size of your animations */
    margin-bottom: 10px;
}

.interest1 ul li .text-label {
    display: block;
    margin-left: 0px; /* Nudge the text to the right */
    text-align: center; /* Ensure the text aligns to the left */
    padding: 0 15px 0 10px;
    margin-bottom: -15px;
    
}



/* Your existing CSS for .title, p, etc., remains the same. */



/* TABLET AND MOBILE  */

@media (max-width: 1070px)
{

.container
{
margin: 0px;
grid-template-columns: repeat(1,1fr);
}

a[href^="tel"], .text {
        color: inherit; /* Behåller den nuvarande ärvt textfärgen */
        text-decoration: none; /* Tar bort understrykningen */
    }

.percent1 .dots {
    display: flex;
    justify-content: center; /* Center the dots horizontally */
    margin-top: 13px; /* Add space above the dots */
    margin-right: 10px;
}

.videobakgrund {
    display: none;
}

.text-label::before {
    /* Ta bort allt innehåll före .text-label */
    content: '';
  }

  .text-label {
    /* Använd CSS för att visa texten utan bindestreck */
    display: inline-block;
    font-size: 0; /* Gömmer den ursprungliga texten genom att sätta font-size till 0 */
  }

  .text-label::after {
    /* Skapar en ny 'content' för att ersätta den ursprungliga texten utan bindestreck */
    content: attr(data-content);
    font-size: initial; /* Återställer font-size till det som det borde vara */
  }

.interest
{ 
    margin-top: 40px;
    margin-bottom: -10px;
}

.interest > h2.title2  
{ 
  padding-left: 15px;
}

.interest ul li   
{ 
padding: 15px;
margin-right: 2px;
}
.interest ul li .fa  
{ 
margin-bottom: 10px;

}

.interest1 .skills_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Centrerar och ger utrymme runt items */
}

.interest1 .soft_skills, .interest1 .hard_skills {
    display: grid;
    grid-template-columns: 2fr; /* En kolumn för varje kategori */
    gap: 20px;
    margin: 40px 0 30px 0;
}

.interest1 ul li {
    margin-bottom: 20px; /* Justerar utrymmet mellan listobjekten */
}

.about .box {
    /* Tillåter elementen att expandera och wrap:a vid behov */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .about .box .profile-item {
    /* Gör så att varje profil-element tar upp 100% av bredden */
    width: 100%;
    margin: 0 0 20px; /* Lägg till marginal så att elementen inte rör varandra */
    box-sizing: border-box; /* Inkluderar padding och border i elementets totala bredd */
  }

  /* Justerar padding för att matcha erfarenhetssektionen */
  .about > h2.title2 {
    padding-left: 15px; /* Justera detta värde efter behov */
  }

  .about .box2 .experience-entry {
    /* Se till att erfarenhetssektionen börjar på samma kant som 'Profil' och 'Mål' */
    padding-left: 15px; /* Justera detta värde efter behov */
  }
  
}


/* TABLET AND MOBILE  */

@media (max-width: 630px)
{

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        margin: 0 auto; /* Ta bort övre och nedre marginal om inte behövs */
        padding: 0 15px; /* Se över och justera detta värde */
        min-height: auto; /* Eller vad som nu passar din design */
        /* Andra anpassningar ... */
    }

    a[href^="tel"], .text {
        color: inherit; /* Behåller den nuvarande ärvt textfärgen */
        text-decoration: none; /* Tar bort understrykningen */
    }

.videobakgrund {
    display: none;
}

.percent1 .dots {
    display: flex;
    justify-content: center; /* Center the dots horizontally */
    margin-top: 13px; /* Add space above the dots */
    margin-right: 20px;
}

.interest1 ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Två kolumner */
    gap: 15px;
}

.interest ul li .fa
{
    color: #F68A48; 
    font-size: 24px;
    width: 30px;
    margin: 5px 5px -55px 25px;
}

.about .box { 
    display: flex;
    flex-direction: row; /* Keep it as row to maintain a side-by-side layout */
    margin: 20px 0;
}

.about .box .profile-item { 
    width: 50%; /* Assigns 50% of the .box width to each .profile-item */
    padding: 0 15px 20px 0; /* Optional padding for spacing */
    margin-right: 15px;
    margin-bottom: -30px;
    margin-top: 2px;
    grid-template-columns: repeat(1,1fr);
}
.about .box .profile-item p { 
 font-size: 13px;
}

.about .box .profile-item .title2 { 
    margin-bottom: 12px; /* Adds space below the title */
}



.interest1 .skills_container {
    flex-direction: column;
    align-items: center;
  }

  .interest1 .soft_skills, .interest1 .hard_skills {
    grid-template-columns: 1fr; /* Ändrar till en enda kolumn */
    justify-items: center; /* Centrerar objekten i kolumnen */
  }

  .interest1 .soft_skills li {
    margin-bottom: 34.84px; /* eller annat värde du föredrar */
  }



  .interest1 ul li {
    width: 100%; /* Ser till att varje listelement tar upp hela bredden */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrerar innehållet vertikalt inom varje listelement */
  }

  .interest1 ul li .lottie {
    margin-bottom: 10px; /* Lägger till utrymme mellan ikonen och texten */
  }

  /* Lägg till eventuell ytterligare stil som behövs för att perfekt anpassa layouten */
}


@media (max-width: 1000px) { /* Adjust the max-width value based on your breakpoint needs */
    .about .box { 
      flex-direction: column; /* Stack children vertically */
      margin: 20px 0;
    }
  
    .about .box .profile-item { 
      width: 100%; /* Each profile item takes full width */
      margin-right: 0; /* Reset right margin as it's no longer needed */
      margin: 20px 0 20px 0; /* Adjusted bottom margin for spacing between items */
      padding: 0 15px; /* Keep the horizontal padding */
      grid-template-columns: none; /* Remove grid-template-columns as it's not needed here */
    }
  
    /* You can also reset any other properties that are only relevant to the row layout if necessary */
  }
  


  /* Style the modal (full screen) */
/* Style the modal (full screen) */
/* Style the modal (full screen) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    display: flex; /* Use Flexbox to center the content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* Additional styles remain the same */


/* Additional styles remain the same */

  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  